.containerRecipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafc;
  height: 100vh;
}

.containerRecipes h1 {
  font-size: 2rem;
  color: #1d164d;
}

.decRecipe {
  font-size: 0.9rem;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #adabbb;
  text-align: center;
  align-items: center;
  padding: 1rem;
  width: 50%;
}

.cardRecipeContainer {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: #fff;
  margin: 1rem;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.050);
  width: 28rem;
  height: 12rem;
}

.cardRecipeContainer img {
  height: 100%;
}

.innerCardRecipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5rem;

  background-color: #fff;
}
.innerCardRecipe h2 {
  color: #1d164d;
  font-size: 1rem;
}
.innerCardRecipe button {
  background-color: #badc58;
  cursor: pointer;
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 10px;
  width: 8rem;
  font-size: 0.9rem;
}
.cardsRecipes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1024px) {
  .containerRecipes{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .cardsRecipes {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden scroll;
    width: 100%;
  }
  
}

@media screen and (max-width: 500px) {
    .cardsRecipes{
      width: 100%;
    }
    .cardRecipeContainer{
     width: 23rem;
     height: 10rem;
    }
}

@media screen and (max-width: 400px) {
  .cardsRecipes{
    width: 100%;
  }
  .cardRecipeContainer{
   width: 20rem;
   height: 8rem;
  }
}

@media screen and (max-width: 350px) {
  .cardsRecipes{
    width: 100%;
  }

  .cardRecipeContainer h2{
    font-size: 0.8rem;
  }

  .cardRecipeContainer button{
    margin: 0;
    width: 6rem;
    height: 2.5rem;
    align-items: center;
    text-align: center;
    font-size: 0.6rem;
    padding: 0.4rem;

  }
  

  .cardRecipeContainer{
   width: 16rem;
   height: 6rem;
  }
}  
