.containerServices {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }


 .leftContainerService img {
     left: 0;
     position: absolute;
     height: 100vh;
 }

 .rigthContainerService{
   display: flex;
   margin-left: 25rem;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 25rem;
 }